<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">

      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <div class="bg-light rounded px-2 py-1 form-inline mx-md-2">
        <% if (!user) { %>
          <form method="POST" action="/login">
            <input type="text" name="userid" placeholder="Your Username" class="form-control">
            <button type="submit" class="btn btn-dark ml-2">Sign In</button>
          </form>
          <a href="/register" class="btn btn-dark ml-2">Sign Up</a>
        <% } else { %>
          <span class="mr-2">Welcome <span class="font-weight-bold"><%= user.email %></span></span>
          <form method="POST" action="/logout">
            <button type="submit" class="btn btn-outline-success">Sign Out</button>
          </form>
        <% } %>
      </div>

    </div>
  </nav>
</header>
<% if (alert) { %>
  <div class="border border-danger rounded text-danger bg-light mx-2 my-3 p-2"><%= alert %></div>
<% } %>